@model Warehouse.Models.CategoryViewModel


<h4 class="py-3 mb-4"><span class="text-muted fw-light">Category/</span> List</h4>

<!-- Employee Details Layout -->
<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-body">
                <dl class="row mb-0">

                    <dt class="col-sm-3">
                        Category Name
                    </dt>
                    <dd class="col-sm-9">
                        @Model.CategoryName
                    </dd>

                    <dt class="col-sm-3">
                        Category Description
                    </dt>
                    <dd class="col-sm-9">
                        @Model.CategoryDescription
                    </dd>




                </dl>
            </div>
        </div>
    </div>
</div>